@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);
/*-------------------global-------------------*/
/*.outer-wrapper {
  max-width: 1280px;
}
*/


.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.outer-wrapper {
  padding: 5px;
}

.name {
  background-color: #191A1B;
  color: #FFFFFF;
  padding: 20px;
  font-size: 20px;
}

.map-container {
  box-sizing: border-box;
  overflow: hidden;
}

.location {
  /*background-color: orange;*/
  border-bottom: 1px solid gray;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description {
  /*background-color: pink;*/
  padding: 15px;
}

.single-pic {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.photos {
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}



.individual-article {
  display: block;
  height: 140px;
}

.thumbnail {
  padding-top: 15px;
  height: 100px;
  width: 100px;
  margin-right: 15px;
  float: left;
}

.associated-pages a{
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding-top: 15px;
  margin-left: 10px;
}

.hide-pic {
  display: none;
  color: inherit;
}

/*-------------------small screen-------------------*/
@media only screen and (max-width: 667px) {
  .outer-wrapper {
    max-width: 667px;
  }

}