@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);
/*-------------------global-------------------*/
/*.outer-wrapper {
  max-width: 1280px;
}
*/


.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.name {
  background-color: #191A1B;
  color: #FFFFFF;
  padding: 20px;
}

.single-pic {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.photos {
  background-color: green;
}

.review {
  background-color: pink;
}

.location {
  background-color: orange;
}

/*.google-map {
  width: 100%;
}*/

.google-map {
  max-width: 100%;
}

.associated-pages {
  background-color: yellow;
}


.hide-pic {
  display: none;
}

/*-------------------small screen-------------------*/
@media only screen and (max-width: 667px) {
  .outer-wrapper {
    max-width: 667px;
  }

}